<h1>Edit your Flashcard:</h1>

<h3><%=@flashcard.question%></h3>
<form action="/flashcards/<%= @flashcard.id%>" method="post">
	<input id="hidden" type="hidden" name="_method" value="patch">
	<input type="text" name="question" value="<%=@flashcard.question%>">
	<input type="text" name="answer" value="<%=@flashcard.answer%>">
	<input type="submit" id="submit" value="submit">
</form>

<form action="/flashcards/<%=@flashcard.id%>/delete" method="post">
	<input type="submit" value="Delete flashcard">
</form>


<br><br>
<a href="/">Home Page</a>
<h3><a href="/stacks/new">Create a new stack.</a></h3>
<h3><a href="/flashcards/new">Create a new flashcard.</a></h3>
<h3><a href="/logout">Logout</a></h3>